.thumbnail-child {
  border: 0;
  position: absolute;
  top: calc(50% - 417px);
  left: calc(50% - 681px);
  background-color: transparent;
  width: 1362px;
  height: 834px;
}
.eclipse,
.eclipse1 {
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(180deg, rgba(0, 194, 255, 0), #ff2ac3);
  filter: blur(200px);
}
.eclipse {
  top: -169.1px;
  left: -365px;
  width: 723.1px;
  height: 723.1px;
  transform: rotate(-17.38deg);
  transform-origin: 0 0;
  opacity: 0.8;
}
.eclipse1 {
  top: 651px;
  left: 1046px;
  width: 606px;
  height: 606px;
  opacity: 0.6;
}
.supertoroid-yellow-glossy-icon {
  position: absolute;
  width: 18.5%;
  top: calc(50% + 197px);
  right: -5.8%;
  left: 87.3%;
  max-width: 100%;
  overflow: hidden;
  height: 252px;
  object-fit: contain;
  display: none;
}
.gun {
  position: absolute;
  top: 0;
  left: calc(50% - 512px);
  font-size: 24px;
  color: var(--color-white);
}
.home,
.resume {
  position: absolute;
  top: 4px;
  left: calc(50% - 98px);
}
.resume {
  text-decoration: none;
  left: calc(50% + 12px);
  color: inherit;
}
.iconfont-awesome-freesolidm,
.nav-child {
  position: absolute;
  top: 33px;
  left: calc(50% - 98px);
  max-height: 100%;
  width: 48px;
}
.iconfont-awesome-freesolidm {
  height: 55.56%;
  top: 19.44%;
  bottom: 25%;
  left: calc(50% + 492px);
  width: 20px;
  overflow: hidden;
}
.nav {
  position: absolute;
  top: 24px;
  left: calc(50% - 513px);
  width: 1024px;
  height: 36px;
}
.hello-im-santhosh {
  margin: 0;
}
.designer {
  background: linear-gradient(90deg, #f59e0b, #ef4444);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.and {
  color: var(--color-whitesmoke);
}
.developer {
  margin: 0;
  background: linear-gradient(90deg, #8b5cf6, #ec4899);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hello-im-santhosh-container {
  position: absolute;
  top: 27px;
  left: calc(50% - 509px);
  font-size: var(--font-size-17xl);
}
.passionate-di-bidang {
  position: absolute;
  top: 213px;
  left: calc(50% - 509px);
  line-height: 24px;
  color: #e5e7eb;
  display: inline-block;
  width: 387px;
}
.button-child {
  position: absolute;
  top: 0;
  left: calc(50% - 93.5px);
  border-radius: var(--br-9xs);
  background-color: #f2672e;
  width: 187px;
  height: 48px;
}
.link-to-resume {
  position: absolute;
  top: 12px;
  left: calc(50% - 65.5px);
}
.iconfont-awesome-freesolidl {
  position: absolute;
  top: 17px;
  left: calc(50% + 49.5px);
  border-radius: var(--br-9xs);
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.button {
  text-decoration: none;
  position: absolute;
  top: 333px;
  left: calc(50% - 511px);
  width: 187px;
  height: 48px;
  color: inherit;
}
.saly-13-icon {
  position: absolute;
  top: 0;
  left: calc(50% + 44px);
  width: 467px;
  height: 467px;
  object-fit: cover;
}
.hello-im-santhosh-web-desig-parent {
  position: absolute;
  top: 97px;
  left: calc(50% - 513px);
  width: 1022px;
  height: 467px;
}
.vector-icon {
  height: 1.02%;
  width: 1.09%;
  top: 69.49%;
  right: 77.88%;
  bottom: 29.49%;
  left: 21.03%;
  max-width: 100%;
  max-height: 100%;
}
.pill-blue-glossy-icon,
.ui,
.vector-icon {
  position: absolute;
  overflow: hidden;
}
.ui {
  top: calc(50% - 325px);
  left: calc(50% - 611px);
  border-radius: 24px;
  background: linear-gradient(
    106.51deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.02)
  );
  backdrop-filter: blur(30px);
  border: 2px solid rgba(255, 255, 255, 0.25);
  box-sizing: border-box;
  width: 1222px;
  height: 650px;
}
.pill-blue-glossy-icon {
  width: 14.29%;
  top: calc(50% + 12px);
  right: 90.7%;
  left: -4.99%;
  max-width: 100%;
  height: 251.4px;
  object-fit: contain;
  display: none;
}
.roundcube-orange-glossy-icon,
.supertoroid-purple-glossy-icon {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.roundcube-orange-glossy-icon {
  width: 6.9%;
  top: calc(50% + 276px);
  right: 38.18%;
  left: 54.92%;
  height: 93px;
}
.supertoroid-purple-glossy-icon {
  height: 6.87%;
  width: 5.8%;
  top: 27.37%;
  right: 29.74%;
  bottom: 65.76%;
  left: 64.46%;
  max-height: 100%;
}
.sphere-white-matte-icon {
  position: absolute;
  top: 65px;
  left: calc(50% + 559px);
  width: 52px;
  height: 52px;
  object-fit: cover;
}
.thumbnail {
  width: 100%;
  position: relative;
  background-color: #121212;
  height: 834px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-whitesmoke);
  font-family: var(--font-poppins);
}
