.aadhar-no {
  position: absolute;
  top: 1228.1px;
  left: 65.9px;
  color: var(--color-gray-100);
}
.full-stack-web {
  position: absolute;
  top: 717px;
  left: 47.8px;
  font-size: var(--font-size-14xl-7);
  color: #6a6a6a;
  white-space: pre-wrap;
  display: inline-block;
  width: 477.5px;
  height: 84.3px;
}
.santhosh-g {
  position: absolute;
  top: 624px;
  left: 96px;
  text-align: left;
}
.snapchat-185127588-copy-1 {
  position: absolute;
  top: 272px;
  left: 140px;
  border-radius: 119px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.linkedin-icon {
  top: 0;
  left: 0;
  width: 73px;
  height: 73px;
}
.linkedin-1,
.linkedin-icon,
.o {
  position: absolute;
}
.o {
  height: 67.07%;
  width: 58.93%;
  top: 30.67%;
  left: 18.67%;
  text-decoration: underline;
  color: inherit;
  display: inline-block;
}
.linkedin-1 {
  top: 862px;
  left: 99px;
  background-color: var(--color-white);
  width: 75px;
  height: 75px;
  overflow: hidden;
  font-size: var(--font-size-26xl);
  color: transparent;
}
.blank-line {
  margin: 0;
}
.text {
  position: absolute;
  top: 853px;
  left: 259px;
  text-align: left;
  opacity: 0;
}
.id-109-icon,
.id-110-icon {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.id-109-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.id-110-icon {
  height: 49.47%;
  width: 49.47%;
  top: 23.33%;
  right: 23.6%;
  bottom: 27.2%;
  left: 26.93%;
}
.id-110-icon,
.o1,
.whatsapp-1 {
  position: absolute;
}
.o1 {
  height: 67.07%;
  width: 68.53%;
  top: 23.33%;
  left: 16.4%;
  text-decoration: underline;
  color: inherit;
  display: inline-block;
}
.whatsapp-1 {
  top: 862px;
  left: 222px;
  width: 75px;
  height: 75px;
  overflow: hidden;
  font-size: var(--font-size-26xl);
  color: transparent;
}
.frame1,
.personal-bio {
  position: absolute;
  text-align: center;
}
.frame1 {
  top: 0;
  left: 0;
  border-radius: var(--br-11xl-9);
  background-color: var(--color-white);
  width: 573px;
  height: 1087px;
  overflow: hidden;
  font-size: var(--font-size-48xl-4);
}
.personal-bio {
  top: 45px;
  left: 19.7px;
  font-size: var(--font-size-25xl-9);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 533.7px;
}
.gsanthosh12a24-gmailcom,
.neriperichal-tirupur-tamil-container {
  position: absolute;
  top: 785px;
  left: 159px;
  color: var(--color-darkslategray-100);
}
.gsanthosh12a24-gmailcom {
  top: 674px;
}
.contacts,
.div {
  position: absolute;
}
.div {
  top: 606px;
  left: 159px;
  color: var(--color-darkslategray-100);
}
.contacts {
  top: 491.6px;
  left: 19.7px;
  font-size: var(--font-size-25xl-9);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 533.7px;
}
.gsanthosh,
.name {
  position: absolute;
  top: 157.4px;
}
.name {
  left: 44.9px;
  color: var(--color-gray-100);
}
.gsanthosh {
  left: 263px;
  font-weight: 600;
  font-family: var(--font-poppins);
}
.aug-2003,
.dob {
  position: absolute;
  top: 221px;
}
.dob {
  left: 48px;
  color: var(--color-gray-100);
}
.aug-2003 {
  left: 266.1px;
  font-weight: 600;
  font-family: var(--font-poppins);
}
.indian,
.nationality {
  position: absolute;
  top: 282.8px;
}
.nationality {
  left: 48px;
  color: var(--color-gray-100);
}
.indian {
  left: 266.1px;
  font-weight: 600;
  font-family: var(--font-poppins);
}
.hindu,
.religion {
  position: absolute;
  top: 344.6px;
}
.religion {
  left: 48px;
  color: var(--color-gray-100);
}
.hindu {
  left: 266.1px;
  font-weight: 600;
  font-family: var(--font-poppins);
}
.frame-child {
  position: absolute;
  top: 160px;
  left: 242px;
  width: 0;
  height: 236px;
  object-fit: contain;
}
.frame2,
.iconsaxboldcall,
.iconsaxboldlocation,
.iconsaxboldroutesquare {
  position: absolute;
  top: 690.4px;
  left: 58px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.frame2,
.iconsaxboldcall,
.iconsaxboldlocation {
  top: 601px;
}
.frame2,
.iconsaxboldlocation {
  top: 796px;
  left: 57px;
  width: 60px;
  height: 60px;
}
.frame2 {
  top: 1101px;
  left: 0;
  border-radius: var(--br-11xl-9);
  background-color: var(--color-white);
  width: 573px;
  height: 950px;
  font-size: var(--font-size-14xl-7);
}
.additional-skills {
  position: absolute;
  top: 38px;
  left: 19.7px;
  font-size: var(--font-size-25xl-9);
  display: flex;
  font-family: var(--font-inter);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 533.7px;
}
.davinci-resolve-12-logo-black-icon {
  position: absolute;
  top: 435px;
  left: 48px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.animation,
.d-modeling,
.graphics-design,
.video-editing {
  position: absolute;
  top: 193px;
  left: 136px;
  font-weight: 600;
}
.animation,
.d-modeling,
.video-editing {
  top: 276px;
}
.animation,
.video-editing {
  top: 358px;
}
.video-editing {
  top: 447px;
}
.product-design-research-container {
  position: absolute;
  top: 683px;
  left: 170px;
  font-weight: 600;
  text-align: center;
}
.icons8-adobe-photoshopsvg,
.icons8-blender-3dsvg {
  position: absolute;
  top: 186px;
  left: 45px;
  width: 56px;
  height: 56px;
  overflow: hidden;
}
.icons8-blender-3dsvg {
  top: 275px;
  left: 52px;
  width: 43px;
  height: 43px;
}
.icons8-adobe-after-effectssvg,
.vector-icon1 {
  position: absolute;
  top: 351px;
  left: 45px;
  width: 56px;
  height: 56px;
  overflow: hidden;
}
.vector-icon1 {
  height: 8.79%;
  width: 11.54%;
  top: 67.55%;
  right: 44.83%;
  bottom: 23.66%;
  left: 43.63%;
  max-width: 100%;
  max-height: 100%;
}
.frame-inner,
.frame-item,
.frame3 {
  position: absolute;
  left: 0;
  border-radius: var(--br-11xl-9);
  background-color: var(--color-white);
  width: 573px;
  height: 869px;
}
.frame3 {
  top: 3363px;
  overflow: hidden;
  font-family: var(--font-poppins);
}
.frame-inner,
.frame-item {
  top: 409.4px;
}
.frame-inner {
  top: 25.4px;
  left: 13px;
  height: 389px;
}
.programming-languages-txt-container {
  line-break: anywhere;
  width: 100%;
}
.os,
.programming-languages,
.tools {
  position: absolute;
  top: 0;
  left: 19.7px;
  font-size: var(--font-size-25xl-9);
  display: flex;
  font-family: var(--font-inter);
  text-align: center;
  align-items: center;
  width: 533.7px;
}
.os,
.tools {
  top: 443.4px;
  justify-content: center;
}
.os {
  top: 919.4px;
}
.div1,
.div2,
.div3,
.div4,
.figma {
  position: absolute;
  top: 553.4px;
  left: 130px;
  font-weight: 600;
}
.div1,
.div2,
.div3,
.div4 {
  top: 550.4px;
  left: 467px;
}
.div2,
.div3,
.div4 {
  top: 643.4px;
}
.div3,
.div4 {
  top: 734.4px;
}
.div4 {
  top: 825.4px;
}
.flutter,
.vs-code {
  left: 130px;
  font-weight: 600;
}
.vs-code {
  position: absolute;
  top: 644.4px;
}
.flutter {
  top: 734.4px;
}
.ellipse-div,
.flutter,
.v {
  position: absolute;
}
.v {
  top: 824.4px;
  left: 130px;
  font-weight: 600;
}
.ellipse-div {
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-gainsboro-200);
  width: 112.4px;
  height: 112.4px;
}
.python {
  position: absolute;
  top: 114px;
  left: 9px;
  font-weight: 600;
}
.span {
  font-size: var(--font-size-base-9);
}
.div5 {
  position: absolute;
  top: 35px;
  left: 30.9px;
  font-weight: 600;
  text-align: center;
}
.frame-child1 {
  position: absolute;
  top: 2px;
  left: 2.8px;
  border-radius: 50%;
  background-color: var(--black);
  width: 106.7px;
  height: 106.7px;
}
.ellipse-parent,
.frame-child2 {
  position: absolute;
  top: 165.4px;
  left: 28px;
  width: 112.4px;
  height: 156px;
}
.frame-child2 {
  top: 0;
  left: 13px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-200);
  height: 112.4px;
}
.div6,
.htmlcss {
  position: absolute;
  top: 119px;
  left: 0;
  font-weight: 600;
}
.div6 {
  top: 35px;
  left: 43.9px;
  text-align: center;
}
.frame-child3 {
  position: absolute;
  top: 2px;
  left: 15.8px;
  border-radius: 50%;
  background-color: var(--black);
  width: 106.7px;
  height: 106.7px;
}
.ellipse-group {
  position: absolute;
  top: 155.4px;
  left: 420px;
  width: 138px;
  height: 161px;
}
.cc,
.div7 {
  position: absolute;
  top: 38px;
  left: 32px;
  font-weight: 600;
}
.cc {
  top: 115px;
  left: 13px;
  text-align: left;
}
.frame-child5 {
  position: absolute;
  top: 2.4px;
  left: 2.8px;
  border-radius: 50%;
  background-color: var(--black);
  width: 106.7px;
  height: 106.7px;
}
.ellipse-container {
  position: absolute;
  top: 164.4px;
  left: 163px;
  width: 112.4px;
  height: 157px;
  text-align: center;
}
.div8,
.javajs {
  position: absolute;
  top: 37px;
  left: 32px;
  font-weight: 600;
}
.javajs {
  top: 114px;
  left: 1px;
  text-align: left;
}
.frame-div {
  position: absolute;
  top: 165.4px;
  left: 290px;
  width: 113px;
  height: 156px;
  text-align: center;
}
.icons8-microsoft-excelsvg {
  position: absolute;
  top: 536.4px;
  left: 45px;
  width: 75px;
  height: 75px;
  overflow: hidden;
}
.icons8-microsoft-outlooksvg,
.icons8-microsoft-powerpointsv,
.icons8-microsoft-wordsvg {
  position: absolute;
  top: 627.4px;
  left: 45px;
  width: 75px;
  height: 75px;
  overflow: hidden;
}
.icons8-microsoft-outlooksvg,
.icons8-microsoft-powerpointsv {
  top: 718.4px;
}
.icons8-microsoft-outlooksvg {
  top: 809.4px;
}
.frame-child10,
.frame-child11,
.frame-child12,
.frame-child13,
.frame-child14,
.frame-child8,
.frame-child9,
.rectangle-div {
  position: absolute;
  top: 833.4px;
  left: 261px;
  border-radius: var(--br-24xl);
  background-color: var(--color-gainsboro-100);
  width: 196px;
  height: 23px;
}
.frame-child10,
.frame-child11,
.frame-child12,
.frame-child13,
.frame-child14,
.frame-child8,
.frame-child9 {
  top: 744.4px;
}
.frame-child10,
.frame-child11,
.frame-child12,
.frame-child13,
.frame-child14,
.frame-child9 {
  top: 652.4px;
}
.frame-child10,
.frame-child11,
.frame-child12,
.frame-child13,
.frame-child14 {
  top: 561.4px;
}
.frame-child11,
.frame-child12,
.frame-child13,
.frame-child14 {
  top: 833.4px;
  background-color: var(--black);
  width: 150px;
}
.frame-child12,
.frame-child13,
.frame-child14 {
  top: 744.4px;
  width: 110px;
}
.frame-child13,
.frame-child14 {
  top: 652.4px;
  width: 170px;
}
.frame-child14 {
  top: 561.4px;
}
.windows {
  position: absolute;
  top: 116px;
  left: 0;
  font-weight: 600;
  cursor: pointer;
}
.icons8-windows-11svg {
  position: absolute;
  top: 0;
  left: 30px;
  width: 72px;
  height: 72px;
  overflow: hidden;
}
.windows-parent {
  position: absolute;
  top: 1023.4px;
  left: 130px;
  width: 132px;
  height: 158px;
}
.linux {
  position: absolute;
  top: 116px;
  left: 0;
  font-weight: 600;
}
.icons8-consolesvg {
  position: absolute;
  top: 0;
  left: 2px;
  width: 72px;
  height: 72px;
  overflow: hidden;
}
.linux-parent {
  position: absolute;
  top: 1023.4px;
  left: 358px;
  width: 74px;
  height: 158px;
}
.frame,
.frame4 {
  position: absolute;
  width: 586px;
  overflow: hidden;
}
.frame4 {
  top: 2068.6px;
  left: 0;
  height: 1278.4px;
  font-family: var(--font-poppins);
}
.frame {
  top: -92px;
  left: 21px;
  height: 4232px;
  font-size: var(--font-size-9xl-1);
}
.about-me,
.academic-education,
.certification,
.course,
.experience,
.reference,
.soft-skills {
  position: absolute;
  top: 0;
  left: 52px;
  font-size: var(--font-size-48xl-4);
  font-family: var(--font-inter);
}
.academic-education,
.certification,
.course,
.experience,
.reference,
.soft-skills {
  top: 479px;
}
.certification,
.course,
.experience,
.reference,
.soft-skills {
  top: 851px;
  text-transform: uppercase;
}
.certification,
.experience,
.reference,
.soft-skills {
  top: 1372px;
}
.experience,
.reference,
.soft-skills {
  top: 1762px;
}
.reference,
.soft-skills {
  top: 3317px;
}
.reference {
  left: 1056px;
}
.be-cse,
.cyber-security {
  position: absolute;
  left: 52px;
  font-weight: 600;
}
.be-cse {
  top: 619px;
  display: inline-block;
  width: 309px;
}
.cyber-security {
  top: 1521px;
}
.paper-presentation,
.projects,
.workshops {
  position: absolute;
  top: 1873px;
  left: 107px;
  font-weight: 600;
}
.projects,
.workshops {
  top: 2226px;
}
.projects {
  top: 2583px;
}
.virtual-assistant-freelancer {
  font-weight: 600;
  white-space: pre-wrap;
}
.ms-office,
.virtual-assistant-freelancer-container {
  position: absolute;
  top: 2895px;
  left: 107px;
}
.ms-office {
  top: 999px;
  left: 52px;
  font-weight: 600;
}
.div10,
.div9 {
  position: absolute;
  top: 619px;
  left: 393px;
}
.div10 {
  top: 1521px;
  left: 524px;
}
.div11,
.div12,
.div13,
.present {
  position: absolute;
  top: 1933px;
  left: 107px;
}
.div12,
.div13,
.present {
  top: 2286px;
}
.div13,
.present {
  top: 2643px;
}
.present {
  top: 2955px;
}
.div14,
.div15,
.div16 {
  position: absolute;
  top: 999px;
  left: 387px;
}
.div15,
.div16 {
  top: 619px;
  left: 1590px;
}
.div16 {
  top: 999px;
  left: 1592px;
}
.kathir-college-of {
  position: absolute;
  top: 619px;
  left: 576px;
}
.naan-mudhalvan-,
.smart-know {
  position: absolute;
  top: 1521px;
  left: 713px;
}
.naan-mudhalvan- {
  top: 999px;
  left: 576px;
}
.blockchain,
.blockchain1,
.stateboard,
.web-development {
  position: absolute;
  top: 682px;
  left: 52px;
  font-weight: 600;
}
.blockchain,
.blockchain1,
.web-development {
  top: 1584px;
}
.blockchain1,
.web-development {
  top: 1632px;
}
.blockchain1 {
  top: 1062px;
}
.div17,
.div18,
.div19 {
  position: absolute;
  top: 682px;
  left: 396px;
}
.div18,
.div19 {
  top: 1584px;
  left: 524px;
}
.div19 {
  top: 1632px;
}
.div20,
.div21,
.div22 {
  position: absolute;
  top: 1062px;
  left: 387px;
}
.div21,
.div22 {
  top: 682px;
  left: 1593px;
}
.div22 {
  top: 1062px;
  left: 1592px;
}
.thirumurugan-matric-hr {
  position: absolute;
  top: 682px;
  left: 579px;
}
.naan-mudhalvan,
.sparta {
  position: absolute;
  top: 1584px;
  left: 713px;
}
.sparta {
  top: 1632px;
  left: 707px;
}
.cyber-security1,
.naan-mudhalvan1 {
  position: absolute;
  top: 1062px;
  left: 576px;
}
.cyber-security1 {
  top: 1122px;
  left: 52px;
  font-weight: 600;
}
.drone-workshop,
.web-development1 {
  position: absolute;
  top: 1180px;
  left: 44px;
  font-weight: 600;
}
.drone-workshop {
  top: 1243px;
  left: 52px;
}
.div23,
.div24,
.div25 {
  position: absolute;
  top: 1122px;
  left: 387px;
}
.div24,
.div25 {
  top: 1180px;
}
.div25 {
  top: 1243px;
}
.div26,
.div27,
.div28,
.smart-knower {
  position: absolute;
  top: 1122px;
  left: 1592px;
}
.div27,
.div28,
.smart-knower {
  top: 1180px;
}
.div28,
.smart-knower {
  top: 1243px;
}
.smart-knower {
  top: 1122px;
  left: 576px;
}
.project-tarunodaya-,
.sparta1 {
  position: absolute;
  top: 1180px;
  left: 576px;
}
.project-tarunodaya- {
  top: 1243px;
}
.frame-child15,
.line-icon {
  position: absolute;
  top: 619px;
  left: 560px;
  width: 0;
  height: 160px;
  object-fit: contain;
}
.frame-child15 {
  top: 1521px;
  left: 696px;
  height: 162px;
}
.frame-child16,
.frame-child17,
.frame-child18 {
  position: absolute;
  top: 999px;
  left: 559px;
  width: 0;
  height: 303px;
  object-fit: contain;
}
.frame-child17,
.frame-child18 {
  top: 619px;
  left: 1560px;
  height: 187px;
}
.frame-child18 {
  top: 999px;
  height: 298px;
}
.frame-child19,
.frame-child20,
.frame-child21 {
  position: absolute;
  top: 619px;
  left: 367px;
  width: 0;
  height: 160px;
  object-fit: contain;
}
.frame-child20,
.frame-child21 {
  top: 1521px;
  left: 504px;
  height: 162px;
}
.frame-child21 {
  top: 999px;
  left: 367px;
  height: 295px;
}
.frame-child22,
.frame-child23,
.frame-child24 {
  position: absolute;
  top: 619px;
  left: 41px;
  width: 0;
  height: 160px;
  object-fit: contain;
}
.frame-child23,
.frame-child24 {
  top: 1521px;
  height: 162px;
}
.frame-child24 {
  top: 999px;
  height: 281px;
}
.dedicated-and-results-driven {
  position: absolute;
  top: 126px;
  left: 52px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-inter);
  display: inline-block;
  width: 1682px;
  height: 254px;
}
.lifi {
  font-weight: 600;
  font-family: var(--font-inter);
}
.lifi-data-transfer-using-ir1 {
  margin-bottom: 20px;
}
.lifi-data-transfer-using-ir {
  margin: 0;
  font-size: inherit;
  padding-left: var(--padding-26xl);
}
.lifi-data-container {
  position: absolute;
  top: 2009px;
  left: 127px;
  text-transform: capitalize;
  display: inline-block;
  width: 1608px;
  height: 196px;
  font-family: var(--font-inter);
}
.data-science-techniques-for-he1 {
  margin-bottom: 14px;
}
.full-stack-python {
  font-family: var(--font-inter);
}
.as-a-freelancer,
.as-a-stamp,
.data-science-techniques-container,
.should-be-furnished {
  position: absolute;
  left: 126px;
  font-family: var(--font-inter);
  display: inline-block;
  width: 1608px;
}
.data-science-techniques-container {
  top: 2366px;
  text-transform: capitalize;
  height: 196px;
}
.as-a-freelancer,
.as-a-stamp,
.should-be-furnished {
  top: 2723px;
  height: 138px;
}
.as-a-freelancer,
.should-be-furnished {
  top: 3035px;
  height: 241px;
}
.should-be-furnished {
  top: 3430px;
  left: 1056px;
  font-size: var(--font-size-17xl);
  width: 724px;
  height: 69px;
}
.frame-child25,
.frame-child26,
.frame-child27,
.frame-child28 {
  position: absolute;
  top: 1872px;
  left: 58px;
  background-color: var(--black);
  width: 28px;
  height: 112px;
}
.frame-child26,
.frame-child27,
.frame-child28 {
  top: 2225px;
}
.frame-child27,
.frame-child28 {
  top: 2582px;
}
.frame-child28 {
  top: 2894px;
}
.communication {
  position: absolute;
  top: 83px;
  left: 0;
}
.icons8-communicationsvg {
  position: absolute;
  top: 0;
  left: 104px;
  width: 69px;
  height: 69px;
  overflow: hidden;
}
.communication-parent {
  position: absolute;
  top: 3430px;
  left: 22px;
  width: 276px;
  height: 134px;
}
.icons8-ask-questionsvg {
  position: absolute;
  top: 0;
  left: 102px;
  width: 68px;
  height: 69px;
  overflow: hidden;
}
.problem-solving-parent {
  position: absolute;
  top: 3430px;
  left: 367px;
  width: 271px;
  height: 134px;
}
.icons8-clocksvg,
.time-management {
  position: absolute;
  top: 82px;
  left: 0;
}
.icons8-clocksvg {
  top: 0;
  left: 127px;
  width: 67px;
  height: 69px;
  overflow: hidden;
}
.time-management-parent {
  position: absolute;
  top: 3613px;
  left: 0;
  width: 321px;
  height: 133px;
}
.icons8-handshakesvg {
  position: absolute;
  top: 0;
  left: 61px;
  width: 68px;
  height: 69px;
  overflow: hidden;
}
.team-work-parent {
  position: absolute;
  top: 3612px;
  left: 406px;
  width: 190px;
  height: 134px;
}
.icons8-creativitysvg {
  position: absolute;
  top: 0;
  left: 47px;
  width: 69px;
  height: 69px;
  overflow: hidden;
}
.creativity-parent {
  position: absolute;
  top: 3430px;
  left: 731px;
  width: 162px;
  height: 134px;
}
.hsc {
  margin-block-start: 0;
  margin-block-end: 12px;
}
.hsc-slsc {
  position: absolute;
  top: 683px;
  left: 1402px;
  display: inline-block;
  width: 158px;
  height: 123px;
}
.div29,
.frame-child29 {
  position: absolute;
  top: 745px;
  left: 1593px;
}
.frame-child29 {
  top: 682px;
  left: 1372px;
  width: 0;
  height: 124px;
  object-fit: contain;
}
.frame5 {
  position: absolute;
  top: 137px;
  left: 646px;
  width: 1780px;
  height: 3746px;
  overflow: hidden;
  font-family: var(--font-poppins);
}
.resume1 {
  width: 100%;
  position: relative;
  background-color: #f1f1f1;
  height: 4116px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-14xl-7);
  color: var(--color-black);
  font-family: var(--font-inter);
}
